.icon-right{
  margin-right:10px;
}
.height-100{
  height:100%;
}

body {
  min-height: 75rem;
  font-size:700;
}

/*
 * Links
 */
 a {
  color:black;
 }

/*
 * Nav
 */
 nav{
  padding:10px 5px;
  background:#aaa;
 }
 .nav-link svg{
  font-size:35px;
 }

/*
 * Sections
 */

 main, section{
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .ancla{
  height:70px;
 }
 .sectionTitle{
  text-align:center;
 }

 /*
  * Info
  */
  #infoSection{
    background-color:#ccc;
  }
  #imagenInfo{
    width:150px;
    height:150px;
    border-radius: 100px;
    background:white;
    border:2px solid black;
    margin:auto;
  }

 /*
  * Skills
  */
  #skillsSection{
    background-color:#fff;
  }
  .progress-bar{
    display:none;
  }

 /*
  * Experience
  */
  #experienceSection{
    background-color:#ccc;
  }
 /*
  * Contact
  */
  #contactSection{
    background-color:#fff;
  }

/*
 * Footer
 */
footer{
  background:rgba(240,240,240,0.5);
}



/****** PANTALLAS GRANDES ******/
@media only screen and (min-width: 768px) {
    body {
        background-color: lightblue;
    }
}

/*
 * Fonts
 */
 @font-face {
    font-family: 'Vonique 64';
    src: url('../fonts/JosefinSans-Regular.ttf');
    font-weight: normal;
}