.icon-right{
  margin-right:10px;
}
.height-100{
  height:100%;

}

.border-top-small{
    border-top:1px solid #222;
	padding-top:50px !important;
    margin-top:50px !important;
 }

html{
  background:url('../images/bg-mobile.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

body {
  min-height: 75rem;
  font-size:700;
  height: 100%;
  background:none;
  color:#222;
  font-family: 'Titillium Web',sans-serif;
}
/*
 * Links
 */
 a {
    color:black;
    text-decoration:none !important;
 }

 /*
  * Lists
  */

  li{
    color:#222;
  }

/*
 * Nav
 */
 nav{
  padding:10px 5px;
  background:#eee;
  border-bottom:2px solid #999;
 }
 .nav-link svg{
  font-size:25px;
  color:#999;
 }
 .nav-link.active svg{
  font-size:30px;
  color:#222;
 }

 /*
  * Progress Bar
  */
  .progress-bar{
    background-color:#333;
  }

/*
 * Sections
 */

 main, section{
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0px 0px 100px 0px;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
 }
 section .container{
    padding-bottom:20px;
    margin:auto;
    margin-top:100px;
    background-color:#fff;
    color:#222;
 }

 .ancla{
  height:70px;
 }
 .sectionTitle{
    text-align:center;
    margin-bottom:20px;
 }
 .sectionTitle h2{
    font-size:2.5em;
    text-transform: uppercase;
    color:#222;
    padding:10px;
    font-weight: bold;
 }


/*
 *Main
 */
main .container{
  color:#fff;
  text-shadow: #222 0px 0px 30px;
}

#imagenInfo{
  width:150px;
  height:150px;
  background:white;
  margin:auto;
  margin-top:50px;
  border: 5px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom:30px;
  background:url('../images/perfil.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 153px -34px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 153px -34px rgba(255,255,255,1);
  box-shadow: 0px 0px 200px -20px rgba(255,255,255,1);
}

#title h1{
  font-weight: bold;
}
#title p{
  font-size:1.5em;
  font-weight:light;
}

 /*
  * Info
  */
  #infoSection{
    background-color:rgba(255,255,255,0.1);
  }
  #descripcionPersonal{
    margin-top:10px;
    font-size:1em;
  }
  #infoLista{
    margin:auto;
    max-width:275px;
  }

 /*
  * Skills
  */
  #skillsSection{
    background-color:rgba(255,255,255,0.2);
  }
  .progress-bar{
    display:none;
  }
  #idiomas{
    margin-top:50px;
  }
  #idiomasTitle{
    margin-bottom:30px;
  }
  #idiomasTitle >h4{    
    font-size:2em;
  }

 /*
  * Experience
  */
  #experienceSection{
    background-color:rgba(255,255,255,0.2);
  }
  #experienceSection .container{
    max-width:600px;    
  }
 /*
  * Contact
  */
  #contactSection{
    background-color:rgba(255,255,255,0.2);
    padding-bottom:75px;
  }
  #contactCard{
    margin-top:50px;
    margin-bottom:100px;
  }

/*
 * Footer
 */
footer{
  background:rgba(240,240,240,0.5);
}


/*
 * TIMELINE
 */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 2500px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #222;
  top: 0;
  bottom: 0;
  left: 5%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
  margin-left:calc(5% - 1px);
}

/* The circles on the timeline */
.timeline-container::after {
  content: url('../images/academic.png');
  position: absolute;
  width: 30px;
  height: 30px;
  left: -15px;
  background-color: #eee;
  border: 4px solid #222;
  top: 9px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.timeline-containeracademic::after {
  content: url('../images/academic.png');
}
.timeline-containerjob::after {
  content: url('../images/job.png');
}

/* Add arrows to the right container (pointing left) */
.timeline-container::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 14px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #fff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #222 transparent transparent;
}

/* The actual content */
.timeline-content {
  padding: 0px 15px 10px 15px;
  background-color: #222;
  position: relative;
}

.timeline-academic{
  background-color:#fff;
  color:#222;
}

.timeline-job{
  background-color:#fff;
  color:#222;
}
.timeline-year{
  background-color:#222;
  font-size:1.2em;
  color:#fff;   
  margin-bottom:5px;
}
.timeline-experience{
  text-align:center;
  font-weight:bolder;
}

.anotation{
  color:#999;;
}

/* Timeline - Pantallas menores de 767px */
@media screen and (max-width: 767px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    margin-left:0px;
  }

/* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
  }

/* Make sure all circles are at the same spot */
  .timeline-right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .timeline-right {
    left: 0%;
  }
}

/****** PANTALLAS GRANDES ******/
@media only screen and (min-width: 768px) {
  html{    
    background:url('../images/bg.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center;
  }
  .ancla{
    height:70px;
  }
  .contenido{
    padding:50px;
 }

 .sectionTitle{
    margin-top: 20px;
    margin-bottom:0px;
 }




  #imagenInfo{
    width:200px;
    height:200px;
    margin-bottom:50px;
  }
  .border-left-big{
    border-left:2px solid #000;
    padding-left: 40px;
  }
  .border-top-small{
    margin-top:0px !important;
	padding-top:0px !important;
    border-top:none;
 }
 .nav-link svg{
  font-size:30px;
  color:#999;
 }
 .nav-link.active svg{
  font-size:35px;
  color:#222;
 }
}